<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <meta name="google-site-verification" content="um9isqwwItaubvhKV7_Dc2L-UY8RWwpWm6OKg3nGpQo" />
    <meta name="baidu-site-verification" content="Y1ZOKuxyqu" />
    <%- partial('common/head') %>
</head>

<body>
    <%- partial('common/navbar', { page }) %>
    <%- body %>
    <%- partial('common/footer') %>
    <%- partial('common/scripts') %>

    <% if (has_config('search.type')) { %>
    <%- partial('search/' + get_config('search.type')) %>
    <% } %>
</body>

</html>